.movieCoverImage {
    width: 100px;
    border-radius: 10%;
}

/* .table>thead>tr>* {
    vertical-align: middle;
    text-align: center;
}

.table>tbody>tr>* {
    vertical-align: middle;
    text-align: center;
} */

.table {
    vertical-align: middle;
    text-align: center;
}

.buttonForForm {
    text-align: right;
}